USE [master]
GO
/****** Object:  Database [ArsipBiru]    Script Date: 15/07/2024 06:57:07 ******/
CREATE DATABASE [ArsipBiru]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArsipBiru', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ArsipBiru.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArsipBiru_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ArsipBiru_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArsipBiru].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArsipBiru]
GO
/****** Object:  Table [dbo].[AccountBanners]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountBanners](
	[AccountID] [char](5) NOT NULL,
	[BannerID] [char](5) NOT NULL,
	[BannerRoll] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountMissions]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountMissions](
	[AccountID] [char](5) NOT NULL,
	[MissionID] [char](5) NOT NULL,
	[MissionStars] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[MissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountUnits]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountUnits](
	[AccountID] [char](5) NOT NULL,
	[UnitID] [char](5) NOT NULL,
	[UnitLevel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsAccount]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsAccount](
	[AccountID] [char](5) NOT NULL,
	[AccountName] [varchar](255) NOT NULL,
	[AccountAreaID] [char](5) NOT NULL,
	[AccountLevel] [int] NOT NULL,
	[AccountGem] [int] NOT NULL,
	[AccountMoney] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsArea]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsArea](
	[AreaID] [char](5) NOT NULL,
	[AreaName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsBanner]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsBanner](
	[BannerID] [char](5) NOT NULL,
	[BannerName] [varchar](255) NOT NULL,
	[BannerUnitID] [char](5) NOT NULL,
	[BannerReleaseDate] [date] NOT NULL,
	[BannerEndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsMission]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsMission](
	[MissionID] [char](5) NOT NULL,
	[MissionName] [varchar](255) NOT NULL,
	[MissionLevel] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsUnit]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsUnit](
	[UnitID] [char](5) NOT NULL,
	[UnitName] [varchar](255) NOT NULL,
	[UnitTypeID] [char](5) NOT NULL,
	[UnitRarity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsUnitType]    Script Date: 15/07/2024 06:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsUnitType](
	[UnitTypeID] [char](5) NOT NULL,
	[UnitTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountBanners]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[MsAccount] ([AccountID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountBanners]  WITH CHECK ADD FOREIGN KEY([BannerID])
REFERENCES [dbo].[MsBanner] ([BannerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountMissions]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[MsAccount] ([AccountID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountMissions]  WITH CHECK ADD FOREIGN KEY([MissionID])
REFERENCES [dbo].[MsMission] ([MissionID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountUnits]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[MsAccount] ([AccountID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountUnits]  WITH CHECK ADD FOREIGN KEY([UnitID])
REFERENCES [dbo].[MsUnit] ([UnitID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MsAccount]  WITH CHECK ADD FOREIGN KEY([AccountAreaID])
REFERENCES [dbo].[MsArea] ([AreaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MsBanner]  WITH CHECK ADD FOREIGN KEY([BannerUnitID])
REFERENCES [dbo].[MsUnit] ([UnitID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MsUnit]  WITH CHECK ADD FOREIGN KEY([UnitTypeID])
REFERENCES [dbo].[MsUnitType] ([UnitTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MsAccount]  WITH CHECK ADD CHECK  (([AccountID] like 'AC[0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[MsArea]  WITH CHECK ADD CHECK  (([AreaID] like 'AR[0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[MsBanner]  WITH CHECK ADD CHECK  (([BannerID] like 'BA[0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[MsMission]  WITH CHECK ADD CHECK  (([MissionID] like 'MI[0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[MsUnit]  WITH CHECK ADD CHECK  (([UnitID] like 'UN[0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[MsUnitType]  WITH CHECK ADD CHECK  (([UnitTypeID] like 'UT[0-9][0-9][0-9]'))
GO
USE [master]
GO
